@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --white-color: #fff;
  --black-color: #222222;
  --gray-color: rgba(154, 153, 153, 0.216);
  --logo-color: #fa5c61;
  --lightgray-color: rgb(200, 198, 198);
  --text-color: #ce8722;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Rubik;
  transition: 1s;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  border-bottom: 1px solid var(--gray-color);
  padding: 0 60px;
}
nav div {
  display: flex;
}
.search-box {
  border: 1px solid var(--gray-color);
  border-radius: 30px;
  padding: 5px;
}
.search-box p {
  border-right: 1px solid var(--gray-color);
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0 10px;
  margin: auto;
}
.search-box p:last-child {
  border-right: 0;
  color: var(--lightgray-color);
}
.search-box i {
  margin-left: 12px;
  /* border: 1px solid var(--lightgray-color); */
  border-radius: 20px;
  padding: 10px;
  background: var(--logo-color);
  color: var(--white-color);
}
.fa-globe {
  margin: 0 16px;
}
.nav-info p {
  margin: auto;
}
.nav-info * {
  color: gray;
}

.nav-info p:last-child {
  border: 1px solid var(--lightgray-color);
  border-radius: 20px;
  padding: 4px;
  font-size: 25px;
  margin: 0 16px;
}
.fa-bars {
  margin: 0 16px;
}
.fa-circle-user {
  margin-right: 10px;
  font-size: 31px;
}
.banner-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  margin: 20px 0;
}
.banner-title h3 {
  font-weight: normal;
  font-size: 29px;
}
.banner-info i {
  margin: 0 4px;
}
.banner-info a {
  text-decoration: underline;
  margin-right: 7px;
}
.banner-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 90%;
  margin: auto;
}

.div1 {
  grid-area: 1 / 1 / 13 / 7;
  width: 100%;
  height: 600px;
}
.div1 img {
  width: 100%;
  height: 100%;
}
.div2,
.div3,
.div4,
.div5 {
  width: 100%;
  height: 296px;
}
.div2 img,
.div3 img,
.div4 img,
.div5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img {
  object-fit: cover;
}
button:hover {
  cursor: pointer;
}
.div1 img {
  object-fit: cover;
}
.div2 {
  grid-area: 1 / 7 / 7 / 10;
}
.div3 {
  grid-area: 7 / 7 / 13 / 10;
}
.div4 {
  grid-area: 1 / 10 / 7 / 13;
}
.div5 {
  grid-area: 7 / 10 / 13 / 13;
}
.div1 img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.div4 img {
  border-top-right-radius: 16px;
}
.div5 img {
  border-bottom-right-radius: 16px;
}
.about-container {
  display: flex;
  padding: 0 86px;
  width: 100%;
  margin: 2rem 0;
}
.about-content {
  width: 65%;
  /* margin-bottom: 1rem; */
}
.about-content div:first-child {
  margin-bottom: 1rem;
  line-height: 1.6rem;
  border-bottom: 1px solid var(--gray-color);
}
.about-content div:first-child h4 {
  font-weight: bold;
  font-size: 22px;
  font-family: Roboto;
  letter-spacing: 1px;
  color: var(--black-color);
}
.about-content div:first-child p {
  padding-bottom: 20px;
  color: gray;
}
.about-user {
  display: flex;
  border-bottom: 1px solid var(--gray-color);
}
.about-user div:first-child {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.about-user div:first-child img {
  /* width: 100%;
  height: 100%; */
  border-radius: 50%;
  object-fit: cover;
}
.about-user div:last-child {
  line-height: 1.4rem;
}
.about-user div:last-child h4 {
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto;
}
.about-user div:last-child p {
  color: gray;
}
.about-status {
  width: 32%;
  /* border: 1px solid var(--gray-color); */
  text-align: center;
  height: 155px;
  margin-left: 40px;
  box-shadow: 0 0 10px 1px var(--gray-color);
  border-radius: 10px;
}
.about-status p {
  margin: 25px auto;
  /* font-weight: bold; */
  font-size: 22px;
}
.about-status button {
  width: 80%;
  height: 36px;
  border-radius: 10px;
  background: #d0d0d0;
  border: none;
}
.about-status a {
  color: #3e3737;
}
.menu-container {
  padding: 0 60px;
}
.menu-content {
  display: flex;
  width: 70%;
  margin-bottom: 22px;
}
.menu {
  padding-bottom: 20px;
  /* border-bottom: 1px solid var(--gray-color); */
}
.menu-content i {
  font-size: 34px;
  padding: 0 20px;
  color: #292929ce;
  width: 50px;
  margin-right: 50px;
  /* height: 160px; */
}
.menu-content div h4 {
  font-size: 21px;
  /* margin-top: 5px; */
  color: var(--black-color);
  font-weight: 500;
  font-family: Roboto;
  margin-bottom: 7px;
}
.menu-content div p {
  color: gray;
  font-size: 17px;
}
.menu-info {
  width: 70%;
  padding: 0 65px;
}
.menu-info * {
  color: gray;
}
.menu-info p {
  margin-bottom: 20px;
  line-height: 1.75rem;
  color: #222230;
  font-size: 18px;
  font-weight: lighter;
}
.menu-info h4 {
  font-size: 24px;
  font-weight: normal;
  color: #222230;
}
.menu-lists li {
  margin-bottom: 5px;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1.5rem;
  color: #222222;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: lighter;
}
p.list-title {
  color: #222222;
  font-size: 22px;
  margin: 30px 0;
}
.user-menu {
  padding: 0 60px;
  margin-top: 30px;
}
.user-menu h4 {
  padding: 15px 0;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
}
.user-box {
  width: 42%;
  display: block;
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 8px 1px var(--gray-color);
  border-radius: 10px;
}
.user-box:hover {
  box-shadow: 0 0 25px 1px var(--gray-color);
}
.user-box h3 {
  font-size: 30px;
}
.user-box p {
  font-weight: bold;
}
.user-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.user-info-container {
  padding: 0 70px;
  margin: 2rem 0;
}
.user-info {
  display: flex;
  margin-top: 1.2rem;
}
.user-info * {
  color: rgb(94, 93, 93);
}
.user-info i {
  font-size: 25px;
  width: 50px;
  padding-right: 15px;
}
.user-greeting p {
  margin: 0 70px;
  color: rgb(94, 93, 93);
  width: 60%;
  margin-top: 2rem;
  line-height: 1.7rem;
  font-size: 18px;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--gray-color);
}
#service p {
  color: gray;
}
.service-info {
  margin: 0 60px;
  border-bottom: 1px solid var(--gray-color);
}
.service-info h4 {
  font-size: 24px;
  font-weight: 500;
}
.service-info .service-img {
  width: 30%;

  display: block;
}
.service-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  /* background: #000; */
}
.service-info img + p {
  font-weight: bold;
  padding: 6px 0 0 0;
  font-size: 20px;
  color: var(--black-color) !important;
}
.service-info p + p {
  margin-bottom: 20px;
}
.service-location {
  margin: 0 60px;
  border-bottom: 1px solid var(--gray-color);
}
.service-location .img {
  width: 99%;
  margin: auto;
  height: 440px;
}
.service-location img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.service-location h4 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
  padding-top: 20px;
}
.service-location p:nth-child(2) {
  padding-bottom: 20px;
}
.service-location div + p {
  padding: 24px 0;
}
.service-location a {
  text-decoration: underline;
  color: #222222;
}
.service-hightlight {
  margin: 0px 60px;
  border-bottom: 1px solid var(--gray-color);
}
.service-hightlight h4 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
  padding-top: 20px;
  color: var(--black-color);
}
.service-hightlight p {
  line-height: 1.6rem;
  font-size: 16px;
  padding-bottom: 20px;
}
.service-icon {
  text-align: center;
  margin: 0 60px;
  border-bottom: 1px solid var(--gray-color);
}
.service-img {
  margin: 30px 0;
}
.service-img img {
  object-fit: cover;
}
.service-icon h4 {
  font-size: 55px;
  font-weight: 500;
}

.service-icon p {
  max-width: 450px;
  margin: auto;
  padding-bottom: 20px;
  color: var(--black-color);
}
.service-process {
  margin: 0 auto;
  display: flex;
  width: 90%;
  /* background-color: lightcyan; */
  flex-wrap: wrap;
  border-bottom: 1px solid var(--gray-color);

  /* flex-wrap: wrap; */
}
.service-process div {
  width: 33%;
  padding: 2rem;
  /* padding-right: 15px; */
  flex: 1 1 300px;
}
.service-process i {
  font-size: 30px;
  padding-bottom: 16px;
}
.service-process h4 {
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 10px;
  /* padding-top: 20px; */
  color: var(--black-color);
}
.service-information {
  margin: 0 60px;
  border-bottom: 1px solid var(--gray-color);
}
.service-information p {
  padding: 50px 0;
}

.contact > h4 {
  font-size: 26px;
  font-weight: normal;
  padding: 40px 0 10px 0;
  font-family: Roboto;
  margin-left: 60px;
}

.contact-info {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* padding-top: 50px; */
  padding-bottom: 50px;
  border-bottom: 1px solid var(--gray-color);
}
.contact-info div {
  flex: 1 1 33%;
  /* width: 30%; */
  margin: 0 70px;
}
.contact-info h4 {
  padding: 4px 0;
  font-weight: normal;
  font-size: 20px;
}
.contact-info li a {
  line-height: 2rem;
  color: gray;
}
.contact-info li a:hover {
  text-decoration: underline;
}
.show {
  /* font-weight: bold; */
  color: #222222 !important;
  text-decoration: underline;
}
.contact-location {
  padding: 40px 60px;
  background: #f7f7f7;
  border-bottom: 1px solid var(--gray-color);
}
.contact-location a,
i {
  color: gray;
  margin-left: 5px;
}
.contact-location a:hover {
  text-decoration: underline;
}
footer {
  background: #f7f7f7;
  /* padding: 0 60px; */
}
img:hover {
  cursor: pointer;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--gray-color);
  padding-left: 60px;
}
.footer-container div {
  flex: 1 1 250px;
  padding-bottom: 2rem;
}
.footer-container p {
  padding: 30px 0px 15px 0;
  font-size: 20px;
}
.footer-container a {
  line-height: 1.8rem;
  color: rgb(105, 104, 104);
}
.footer-container a:hover {
  text-decoration: underline;
}
.footer-info p {
  display: inline-block;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  flex-wrap: wrap;
}

.footer-info * {
  color: #3f3f3f;
  margin-left: 8px;
}
.footer-info a:hover {
  text-decoration: underline;
}
@media (max-width: 992px) {
  nav {
    padding: 20px;
  }
  .search-box {
    display: none;
  }
  .banner-img {
    display: flex;
    flex-direction: column;
  }
  .banner-img div {
    flex: 1 1 400px;
    width: 80%;
    /* height: auto; */
    margin: auto;
    margin-bottom: 20px;
  }
  .banner-img div img {
    width: 100%;
    border-radius: none;
    object-fit: cover;
  }
  .banner-img img:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px gray;
  }

  .div1 img,
  .div2 img,
  .div3 img,
  .div4 img,
  .div5 img {
    border-radius: 16px;
  }
  .menu-info {
    width: 98%;
    padding: 0 60px;
    margin: auto;
  }
  .user-menu h4 {
    text-align: center;
    font-size: 34px;
  }
  .user-box {
    width: 50%;
    margin: auto;
    padding: 20px;
  }
  .user-box h3 {
    font-size: 22px;
  }
  .user-box p {
    font-size: 15px;
    font-weight: normal;
  }

  .service-process div:last-child {
    display: block;
    text-align: left;
    /* width: 70%; */
    margin: auto;
    flex-grow: 0;
  }
  .service-info .service-img {
    width: 80%;
    margin: 20px auto;
    display: block;
  }
  .service-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* background: #000; */
  }
  .contact-info div {
    flex: 1 1 30%;
    margin: 0 90px;
  }
  .footer-info {
    padding: 30px;
  }
  .footer-info div {
    padding-bottom: 20px;
  }
  .footer-info * {
    margin-left: 3px;
  }
}
@media (max-width: 768px) {
  .banner-info {
    display: none;
  }
  .banner-title {
    display: block;
    text-align: center;
  }
  .about-container {
    display: block;
  }
  .about-content {
    width: 99%;
    margin: auto;
    /* text-align: center; */
  }
  .about-status {
    width: 59%;
    margin: auto;
    height: 150px;
  }
  .about-status p {
    padding-top: 30px;
  }
  .user-menu {
    width: 100%;
    padding: 0;
  }
  .user-box {
    margin: auto;
  }
  .user-box h3 {
    font-size: 22px;
  }
  .user-box p {
    font-size: 15px;
    font-weight: normal;
  }
  .menu-content {
    width: 96%;
    margin: auto;
  }
  .menu-container {
    padding: 30px;
  }
  .user-box {
    width: 70%;
  }
  .user-info-container {
    padding: 0 30px;
    margin: 2rem 0;
  }

  .user-info {
    display: flex;
    width: 97%;
    margin: auto;
    margin-top: 1.2rem;
  }
  .user-info * {
    color: rgb(94, 93, 93);
  }
  .user-info i {
    font-size: 25px;
    width: 15%;
    padding-right: 15px;
    margin: auto;
  }
  .user-info p {
    width: 80%;
  }

  .service-info * {
    text-align: center;
    margin: auto;
  }
  .service-info img {
    max-width: 100%;
    margin: auto;
    display: block;
    border-radius: 10px;
    object-fit: cover;
  }
  .service-location .img {
    height: auto;
  }
  .service-process div:last-child {
    /* display: flex;
    flex-direction: column; */

    flex-grow: 1;
  }
  .service-information {
    margin: 0 25px;
  }
  .contact-info div {
    flex: 1 1 35%;

    /* width: 30%; */
    margin: 0 45px;
  }
  .contact-info div:first-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .about-container {
    padding: 0 40px;
  }
  nav {
    padding: 0 15px;
  }
  .nav-info p:first-child {
    display: none;
  }
  .nav-info p:last-child {
    margin: 0px;
  }
  .banner-title {
    padding: 10px 0;
    margin: 15px;
  }
  .banner-img div {
    width: 96%;
    margin: 7px auto;
    /* height: auto; */
  }
  .banner-img img {
    width: 100%;
    height: 100%;
  }
  .about-status {
    width: 90%;
  }
  .user-greeting p {
    margin: 0 30px;
    width: 86%;
  }
  .service-hightlight {
    margin: 0px 30px;
  }
  .about-user div {
    margin-bottom: 30px;
  }
  .service-info .service-img {
    width: 99%;
    margin: 20px auto;
    display: block;
  }
  .service-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* background: #000; */
  }
  .service-icon {
    text-align: center;
    margin: 0 10px;
    border-bottom: 1px solid var(--gray-color);
  }
  .service-img {
    margin: 10px 0;
  }
  .contact-location {
    padding: 30px;
  }
  .menu-info {
    padding: 0 20px;
  }
  .menu-container {
    padding: 0 20px;
  }
  .menu-content div h4 {
    line-height: 1.2rem;
    font-size: 18px;
  }
  .menu-content div p {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -3px;
  }
  .menu-content {
    width: 100%;
  }
  .menu-content i {
    font-size: 34px;
    padding: 0 10px;
    color: #292929ce;
    width: 0px;
    margin-right: 50px;

    .user-box {
      width: 90%;
    }
    .user-box h3 {
      font-size: 23px;
    }
    .user-info i {
      display: none;
    }
    .user-info p:before {
      content: "\2714";
      padding-right: 6px;
    }

    .footer-info div:first-child a {
      display: block;
    }
  }
}
